<%- include("partials/_header.ejs") %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 m-auto">
                <form action="/login" method="post">
                    <h2>Inicio de Sesión</h2>
                    <label for="username">Usuario:</label>
                    <input class="form-control" type="text" id="username" name="username" required />
                    
                    <label for="password">Contraseña:</label>
                    <input class="form-control" type="password" id="password" name="password" required />
                    
                    <button type="submit" class="btn btn-primary w-100 my-3">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
<%- include("partials/_footer.ejs") %>